*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared-style */

.open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* header part start*/
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    
}
nav{
    width: 68%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
 display: flex;
 list-style-type: none;
 gap: 51px;
 align-items: center;
}
nav .menu a{
    font-size: 22px;
    color: #474747;
    text-decoration: none;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}
/* header part end */
/* start main part */
